/* nav menu bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    background-color: rgb(56, 79, 49); 
    color: white;
    font-family:'Averia Serif Libre',serif;
    font-size: 25px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;  /* Removes the underline from the links */
    color: white;
    font-size: 20px;
  }

  .logo{
    font-size: 30px;
  }
  
  /* Hide hamburger icon on larger screens */
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;  /* Changes the cursor to a pointer when hovering over the icon, indicating it's clickable. */
  }
  

  /* Responsive Styling for Smaller Screens */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: rgb(56, 79, 49);
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }


/* section1 */
h1 {
    padding-top: 0.5em;
    padding-left: 1em;
    background-color: rgb(231,230,214);
    color: rgb(56, 79, 49);
    font-size: 40px;
    font-family:'Averia Serif Libre',serif;
}

main {
    padding: 2.5em;
    font-family:'Averia Serif Libre',serif;
    color: rgb(56, 79, 49);
    flex: 1;
}

.content {
    display: flex;
    gap: 20px;
    margin-bottom: 2em;
    line-height: 1.5;
}


/* Image and Text */
.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    max-width: 600px;
    font-size: 20px;
}



/* Responsive Design - Mobile View */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .text-container {
        max-width: 100%;
    }
}




