


/* section1 & 2 & 3*/
h1 {
    padding-top: 0.5em;
    padding-left: 1em;
    background-color: rgb(231,230,214);
    color: rgb(56, 79, 49);
    font-size: 40px;
    font-family:'Averia Serif Libre',serif;
}

main {
    padding: 2.5em;
    font-family:'Averia Serif Libre',serif;
    color: rgb(56, 79, 49);
    flex: 1;
}

.content {
    display: flex;
    gap: 20px;
    margin-bottom: 2em;
    line-height: 1.5;
}


/* Image and Text */
.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    max-width: 600px;
    font-size: 20px;
}



/* Responsive Design - Mobile View */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .text-container {
        max-width: 100%;
    }
}

/* section1 */
h1 {
    padding-top: 0.5em;
    padding-left: 1em;
    background-color: rgb(231,230,214);
    color: rgb(56, 79, 49);
    font-size: 40px;
    font-family:'Averia Serif Libre',serif;
}

main {
    padding: 2.5em;
    font-family:'Averia Serif Libre',serif;
    color: rgb(56, 79, 49);
    flex: 1;
}

.content {
    display: flex;
    gap: 20px;
    margin-bottom: 2em;
    line-height: 1.5;
}


/* Image and Text */
.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    max-width: 600px;
    font-size: 20px;
}



/* Responsive Design - Mobile View */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .text-container {
        max-width: 100%;
    }
}