/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(231,230,214);
    box-sizing: border-box;
}

/* general -- nav menu bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    background-color: rgb(56, 79, 49); 
    color: white;
    font-family:'Averia Serif Libre',serif;
    font-size: 25px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;                                      /* Removes the underline from the links */
    color: white;
    font-size: 20px;
}

.nav-links a {
    text-decoration: none;                                      /* Removes the underline from the links */
    color: white;
    font-size: 18px;
}

.navbar .link1 a{
    font-size: 30px;
    text-decoration: none; 
    color: white;
}

/* general -- Hide hamburger icon on larger screens */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;                                            /* Changes the cursor to a pointer when hovering over the icon, indicating it's clickable. */
}

header .nav-links a:hover {
    color: #ffd700;
}

.navbar .link1 a:hover {
    color: #ffd700;
}

/* general -- menubar -- Responsive Styling for Smaller Screens */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgb(56, 79, 49);
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* general -- Footer styles */
footer {
    background-color: rgb(56, 79, 49);
    color: rgb(231,230,214);
    padding: 20px;
    text-align: center;
}
  
footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
  
footer .footer-logo {
    text-align: center;
}
  
footer .footer-logo img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}
  
footer .footer-logo p {
    margin: 0;
}
  
footer .social-media {
    text-align: center;
}
  
footer .social-media p {
    font-size: 16px;
    margin-bottom: 10px;
}
  
footer .social-media a {
    color: rgb(231,230,214);
    text-decoration: none;
    font-size: 35px;
    margin: 0 10px;
}
  
footer .social-media a:hover {
    color: #ffd700;
} 
  
footer .copyright {
    margin-top: 10px;
    font-size: 14px;
}

/* section1 -- div of video & text */
.con{
    position: relative;                 /* Ensures the child elements can be positioned absolutely */
    width: 100%;       
    height: 100vh;                      /* Full viewport height */
    overflow: hidden;                   /* Ensures no scrollbars appear */
}

.background-video {
    width: 100%;                        
    height: 100%;                       
    object-fit: cover;                  /* Ensures the video covers the entire container */
    z-index: -3;                        /* Keeps the video behind the text */
}

.con .overlay-text1 {
    position: absolute;                 /* Position the text relative to the container */
    top: 50%;                           /* Center vertically */
    left: 50%;                          /* Center horizontally */
    transform: translate(-50%, -50%);   /* Offset to the exact center */
    color: white;        
    text-align: center;                 /* Center-align the text */
    z-index: 4;                         /* Place the text above the video */
    font-family: 'Rubik Burned',sans-serif;
    width: 100%;
}

.overlay-text1 h1 {
    font-size: 5.5em;                     
    margin: 0;
}

/* section1 -- menu */
.menu_btn{
    position:fixed;
    right: 20px;
    top:20px;
    z-index: 1000;
    background: linear-gradient(200deg,#ec77ab,rgb(231,230,214));
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#menu_btn{
    display: none;
}

#menu_btn:checked ~ .wrapper{
    clip-path: circle(75%);
}

#menu_btn:checked ~ .menu-btn{
    color: #ec77ab;
    background: #fff;
}

#menu_btn:checked ~ .menu-btn i::before{
    content: "\f00d";
}


#menu_btn:checked ~ .con .overlay-text1 {
    display: none;                           /* Hide the text when the menu is open */
}

/* section1 -- menu -- links */
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(200deg,#ec77ab,rgb(231,230,214));
    clip-path: circle(25px at calc(100% - 45px)45px);
    transition: all 0.3s ease-in-out;
    overflow: hidden; 
    font-family:'Averia Serif Libre',serif;
    z-index: 500;
}
.wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li{
    margin: 30px 0px;
}

.wrapper ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding:5px 50px;
    position: relative;
    line-height: 50px;

}

.wrapper ul li a::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 50px;
    background: #fff;
    z-index: -1;
    border-radius: 50px;
    left: 0px;
    transform: scaleY(0);
    transition: transform 0.3s ease;
}
.wrapper ul li a:hover::after{
    transform: scaleY(1);
}

.wrapper ul li a:hover{
    color: #ec77ab;

}




/* section 2 -- section box of our acai */
.ouracai-section {
    background-color: rgb(56, 79, 49); 
    padding: 40px 20px;                         /* 20px for left and right can make sere there're still spaces when inspect */
    display: flex;
    justify-content: center;                    /* Center child items horizontally */
    align-items: center;                        /* Center child items vertically */
    margin-top: 50px;                           /* create the space between video and this section */
    margin-bottom: 100px;                       /* create the space between this section and the next section */
    font-family:'Averia Serif Libre',serif;
}

/* section2 -- div for whole content */
.ouracai-section .content-container {
    display: flex;                              /* Align text and image side by side */
    max-width: 1200px;                          /* Set a max-width for the content */
    margin: 0 auto;                             /* Centers the container horizontally */
    width: 100%;
    gap: 20px;                                  /* Space between text and image */
}

/* section2 -- Left Text Content */
.ouracai-section .content-container .text-content {
    flex: 1;                                    /* Occupy 50% of the width */
    color: rgb(231,230,214);
    width: 100%;
    opacity: 0;                                                         /* Initially hidden */
    transform: translateY(-20px);                                       /* Slightly shifted up */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;       /* take one second to complete opacity and position and the animation will start slow, speed up, and then slow down at the end, making it feel smooth. */
}

/* section2 -- animation for the content */
.ouracai-section .content-container .text-content.visible{
    opacity: 1;                                                         /* Fully visible */
    transform: translateY(0);                                           /* Return to original position */
}

/* section2 -- heading of 'OUR AÇAÍ' */
.text-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* section2 -- content */
.text-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
}

/* section2 -- discover button */
.text-content .discover-button {
    padding: 10px 20px;
    background-color: rgb(231,230,214);
    color: rgb(56, 79, 49);
    border: none;
    border-radius: 5px;                          
    font-size: 1.1em;
    cursor: pointer;                                                 /* Makes the cursor a hand when hovering */
    font-family:'Averia Serif Libre',serif;
}

/* section2 -- effect for discover button
   when hovering */
.text-content .discover-button:hover {
    background-color: rgb(34, 50, 30);                            /* Slightly darker green when hovering */
    color: rgb(231,230,214);
}

/* section2 -- div of right img */  
.image-content {
    flex: 1;                                                        /* Occupy 50% of the space */
}

/* section2 -- right img */  
.image-content img {
    width: 100%;                                                    /* Make the image take full width */
    height: auto;                                                   /* Maintain aspect ratio */
    display: block;                                                 /* Removes any extra space under the image */
    border-radius: 10px;                                            /* Rounded corners */
}






/* section3 -- brand story */
.brandstory-section {
    background-color: rgb(56, 79, 49); 
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;                         /* for relative positioning of child elements */
    display: grid;                           
    grid-template-columns: 1fr 1fr 1fr;         /* three equal-width columns. */
    gap: 10px;                                  /* adds 10px of space between each column */
    justify-items: center;                      /* aligns grid items horizontally */
}

/* section3 -- General Image Styling */
.image-container img {
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 10px; 
    max-width: 500px; 
    margin-bottom: 20px;
}

/* section3 -- First Image(Lifted) -- Centered in the first column */
.brandstory-section .first-in-green {
    position: relative;
    z-index: 10;                                /* Make sure it stays above other elements(a higher z-index value will appear in front of elements with a lower z-index.) */
    margin-top: -100px;                         /* Lift the image upwards */
    grid-column: 1;                             /* Place this image in the first column */
}

/* section3 -- Second Image */
.brandstory-section .second-in-green {
    position: relative;
    margin-top: 40px;                           /* Move this image down slightly */
    grid-column: 3;                             /* Occupy the last column */
    justify-self: end;                          /* Align to the right */
}

/* section3 -- Third Image */
.brandstory-section .third-in-green {
    position: relative;
    margin-top: -70px;                          /* Move this image further down */
    grid-column: 1;                             /* Occupy the first column */
    justify-self: start;                        /* Align to the left */
}


/* section3 -- Overlay Text Styling */
.overlay-text {
    position: absolute;
    top: 40%;                                                           /* positions the top edge of the element at 40% of the height of its parent container. */
    left: 10%;                                                          /* positions the left edge of the element at 10% of the width of its parent container */
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    font-weight: bold;  
    font-family: 'Rubik Scribble',sans-serif;
    white-space: nowrap;                                                /* Prevent text from wrapping to the next line */

    width: 100%;
    opacity: 0;                                                         /* Initially hidden */
    transform: translateY(-20px);                                       /* Slightly shifted up */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;       /* take one second to complete opacity and position and the animation will start slow, speed up, and then slow down at the end, making it feel smooth. */
}

/* section3 -- animation for the content */
.overlay-text.visible{
    opacity: 1;                                                         /* Fully visible */
    transform: translateY(0);                                           /* Return to original position */
}
    

/* section3 part2 -- section */
.brandstory-section2{
    background-color: rgb(56, 79, 49);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* section3 part2 -- div of heading and brief intro */
.brandstory-section2 .part1{
    width: 100%;
    opacity: 0;                                                         /* Initially hidden */
    transform: translateY(-20px);                                       /* Slightly shifted up */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;       /* take one second to complete opacity and position and the animation will start slow, speed up, and then slow down at the end, making it feel smooth. */
}

/* section3 part2 -- heading itself */
.brandstory-section2 .heading{
    margin: 0 auto;
    padding: 0;
    font-family: 'Rubik Scribble',sans-serif;
    font-size: 4em; 
}

/* section3 part2 -- brief intro itself */
.brandstory-section2 .intro-for-brand{
    width: 100%;
    height: auto;
    font-family: 'Averia Serif Libre',serif;
    font-size: 20px;
    line-height: 1.5;
}

/* section3 part2 -- div of the details */
.brandstory-section2 .part2{
    display: flex;
    flex: 1;
    width: 70%;
    margin: 0 auto;                                         /* Centers horizontally */
    font-family: 'Averia Serif Libre',serif;
    font-size: 20px;
    line-height: 1.5;
    align-items: center;
    justify-content: center;                                /* Aligns horizontally if the gap between divs is not needed */
    gap: 20px;
    position: relative;
}


/* section3 part2 -- learn more button */
.brandstory-section2 .part3 .learnmore-button {
    padding: 10px 20px;
    background-color: rgb(231,230,214);
    color: rgb(56, 79, 49);
    border: none;
    border-radius: 5px;                          
    font-size: 1.1em;
    cursor: pointer;                                        /* Makes the cursor a hand when hovering */
    font-family:'Averia Serif Libre',serif;
    margin-top: 4em;
    margin-bottom: 200px;
}

/* section3 -- effect for discover button
   when hovering */
.brandstory-section2 .part3 .learnmore-button:hover {
    background-color: rgb(34, 50, 30);                   /* Slightly darker green when hovering */
    color: rgb(231,230,214);
}

/* animation */
.brandstory-section2 .part1.visible{
    opacity: 1;                                             /* Fully visible */
    transform: translateY(0);                              /* Return to original position */
}

/* section4 -- video*/
.acai-video {
    display: flex;
    justify-content: center;                    /* Centers the video horizontally */
    align-items: center;                        /* Centers the video vertically */
    width: 100%;                                /* Ensure container spans full width */
    height: auto;  
    flex: 1;
    padding: 0;                                 /* Remove any padding if added */
    box-sizing: border-box;                     /* Ensure padding does not affect dimensions */
}

.acai-video iframe {
    width: 100%;                                /* Makes the iframe responsive */
    max-width: 800px;                           /* Limit the width of the video */
    border: none;                               /* Removes border around the iframe */
    margin-top: -120px;                         /* Reset margin to avoid unwanted spacing */
    margin-bottom: 60px;
}

.acai-video .video-link {
    display: none;                              /* Hide the link by default */
    font-size: 16px;
    text-align: center;
    color: rgb(231,230,214);;
    margin-top: -200px;
    padding: 20px;
    justify-content: center;                    /* Centers the video horizontally */
    align-items: center;
    font-family:'Averia Serif Libre',serif;
}

/* section5 -- menu */
.menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;                    /* Centers items vertically */
    align-items: center;  
    flex: 1;
}
.menu .intro-menu h2{
    font-family: 'Rubik Doodle Shadow';
    color: #582B81;
    font-size: 4em;
    margin-bottom: 10px;
}

.menu .call-to-action{
    font-family:'Averia Serif Libre',serif;
    color: #582B81;
    font-size: 1em;
    text-align: center;
}

/* section5 -- find out more button */
.menu .learnmore-button {
    padding: 20px 22px;
    background-color: rgb(56, 79, 49); 
    color: rgb(231,230,214);
    border: none;
    border-radius: 8px;                          
    font-size: 1.1em;
    cursor: pointer;                                        /* Makes the cursor a hand when hovering */
    font-family:'Averia Serif Libre',serif;
    margin-top: 4em;
    margin-bottom: 100px;
}

/* section5 -- find out more button
   when hovering */
.menu .learnmore-button:hover {
    background-color: rgb(231, 232, 178);                 
    color: rgb(56, 79, 49);
}







/* Responsive Adjustments */
@media (max-width: 768px) {
    /* section2 */
    .content-container {
        flex-direction: column;                 /* Stack text and image vertically */
        gap: 20px;                              /* Add spacing between sections */
    }

    .text-content {
        text-align: center;                     /* Center-align text */
    }


    /* section3 */
    .brandstory-section {
        grid-template-columns: 1fr;            /* Single column layout */
        padding: 20px;                         /* Adjust padding for smaller screens */
    }

    .brandstory-section .first-in-green,
    .brandstory-section .second-in-green,
    .brandstory-section .third-in-green {
        margin: 0 auto;                         /* Center-align images */
        grid-column: 1;                         /* Reset grid column rules */
        justify-self: center;                   /* Ensure images are centered */
        width: 50%;
    }

    .overlay-text {
        display: none; 
    }

   
}

@media (max-width: 480px) {
    /* section2 */
    .text-content h2 {
        font-size: 1.5rem;                      /* font size become smaller if width <= 480px */
    }

    .text-content p {
        font-size: 0.9rem;                      /* font size become smaller if width <= 480px */
    }

    .text-content .discover-button {
        font-size: 0.9rem;                      /* font size become smaller if width <= 480px */
    }

    /* section3 */
    .brandstory-section {
        padding: 10px;                          /* Reduce padding further for very small screens */
    }

    .overlay-text {
        display: none;                          /* Smaller text for very small screens */
    }

    /* sedction4 */
    .acai-video iframe {
        display: none;       /* Hide the iframe on small screens */
    }

    .acai-video .video-link {
        display: block;      /* Show the link on small screens */
    }
   
    /* section5 */
    .menu .intro-menu h2 {
        font-size: 1.8em; /* Further reduce heading size */
    }

    .menu .call-to-action {
        font-size: 0.7em; /* Smaller text */
        padding: 0 10px; /* Add some padding for text */
    }

    .menu .learnmore-button {
        padding: 10px 14px; /* Smaller button */
        font-size: 0.8em; /* Adjust button text size */
        margin-bottom: 50px; /* Reduce bottom margin further */
    }
}



/* first video */
@media (max-width: 1024px) {
    /* For tablets and smaller screens */
    .menu .intro-menu h2 {
        font-size: 3em; /* Reduce font size */
    }

    .menu .call-to-action {
        font-size: 0.9em; /* Slightly smaller text */
    }

    .menu .learnmore-button {
        font-size: 1em; /* Adjust button text size */
        margin-bottom: 150px; /* Reduce bottom margin */
    }
}
