body {
    background-color: rgb(231,230,214);
    margin: 0;
    padding: 0; 
}

video {
    width: 100%;
    height: 100%;
    /*ensure that the video will cover the entire area of the container*/
    object-fit: cover;  
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

/* section 1 */
/* green block */
.section1{
    width: 100%;
    padding-top: 35%;
    background-color: rgb(56, 79, 49);
    margin-top: 20px;
    position: relative;
}

.our-acai {
    position: absolute; 
    top:  0; 
    left: 0; 
    color: white; 
    padding-left: 35px;  
    padding-top: 40px;
    font-size: 36px;
    font-family:Averia Serif Libre,serif;
}

.our-acai p {
    margin: 0;  
    font-family:Averia Serif Libre,serif;
}

/* div of into for acai berry */
.acai-org {
    position: absolute;
    top:  0;
    left: 0;
    color: white;
    padding-left: 35px;
    padding-top: 105px;
    width: 500px;
    line-height: 1.5;
}
.acai-org p{
    margin: 0;
    font-family: Averia Serif Libre,serif;
    font-size: 22px;
}
/* img1 berry */
.berry-img{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

/* section 2 */
.section2{
    width: 100%;
    padding-top: 500%;
    background-color: rgb(56, 79, 49);
    margin-top: 120px;
    position: relative;
}

/* img2 berry tree */
.berryTree{
    position: absolute;
    top: -3%;
    left: -100px;
    transform: scale(0.5);
}

/* img3 jungle */
.jungle{
    position: absolute;
    top: 3px;
    right: -40px;
    transform: scale(0.85);
}

/* img4 ppl */
.communityPpl{
    position: absolute;
    top: 350px;
    left: -120px;
    transform: scale(0.6);
}