body {
    background-color: rgb(231,230,214);
    margin: 0;
    padding: 0; 
}

video {
    width: 100%;
    height: 100%;
    /*ensure that the video will cover the entire area of the container*/
    object-fit: cover;  
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}

/* green block */
.section1{
    width: 100%;
    padding-top: 35%;
    background-color: rgb(56, 79, 49);
    margin-top: 20px;
    position: relative;
}

.our-acai {
    position: absolute; 
    top:  0; 
    left: 0; 
    color: white; 
    padding-left: 35px;  
    padding-top: 40px;
}

.our-acai p {
    margin: 0;  
    font-family:Averia Serif Libre,serif;
}

.acai-org {
    position: absolute;
    top:  0;
    left: 0;
    color: white;
    padding-left: 35px;
    padding-top: 105px;
    width: 500px;
    line-height: 1.5;
}
.acai-org p{
    margin: 0;
    font-family: Averia Serif Libre,serif;
    font-size: 22px;
}
.berry-img{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}


